body {
    background-color: darkgray;
    color: indigo;
    font-family: Helvetica, Arial, sans-serif;
}
h1 {
    font-size: 50px;
    font-weight: 100;
    font-style: italic;
    line-height: 30px;
}
ol li {
    background: white;
    padding: 8px 16px 24px;
    margin-bottom: 4px;
    margin-right: 20px;
    float: left;
    width: 26%;
}
ul li.item-1 {
    background: blue;
}